html {
    position: relative;
    min-height: 100%;
}
body {
    font-size: 19px;
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

main {
    margin-top: 15px;
}

footer {
    width: 100%;
    background-color: #f5f5f5;
    padding: 25px 0;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 15px;
}
footer p {
    margin: 0;
}

li {
    margin-bottom: 3px;
}

#content img {
    max-width: 100%;
    padding: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.navbar .navbar-brand {
    font-size: 28px;
    height: auto;
    line-height: 40px;
    margin-left: 20px;
}
.navbar .navbar-brand small {
    font-size: 18px;
    font-weight: 300;
    margin-left: 10px;
}

@media (min-width: 768px) {
    #sidebar {
        position:fixed;
        margin-top: 30px;
    }
}
@media (max-width: 960px) {
    body {
        font-size: 17px;
    }
    pre {
        font-size: 12px;
    }
}

.page-header {
    margin-top: 0;
}

#sidebar .text-muted {
    color: #bbbbbb;
}

pre {
    padding: 0;
    border-radius: 4px;
    font-size: 15px;
}
pre code {
    border: none;
}

h1, .h1 {
    font-size: 45px;
}

h2, .h2 {
    font-size: 34px;
}

h3, .h3 {
    font-size: 24px;
}

h4, .h4 {
    font-size: 20px;
}

h5, .h5 {
    font-size: 14px;
}

h6, .h6 {
    font-size: 14px;
}