default:
  suites:
    default:
      path: %paths.base%/features
      contexts:
        - PaulGibbs\WordpressBehatExtension\Context\TestContext

  extensions:
    Behat\MinkExtension:
      base_url: http://wordpress-develop.dev
      goutte: ~

    PaulGibbs\WordpressBehatExtension:
      default_driver: wpcli
      wpcli:
        alias: dev
